body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

@font-face {
  font-family: "mervale";
  src: URL("mervale-script.regular.ttf") format("truetype");
}
header {
  position: relative;
  text-align: center;
}
header img {
  width: 100%;
  max-height: 90vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
header #title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Montez", cursive;
  font-size: 5rem;
  width: 100%;
  text-shadow: 0 0 5px black;
  display: flex;
  flex-direction: column;
}
header #title p {
  margin: 0;
}
header #title .date {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  margin: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
  margin: 4rem 0;
  padding: 2rem;
}
main .text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 8rem 0;
  width: 100%;
}
main .text p {
  font-family: "mervale", cursive;
  font-size: 1.5rem;
  text-align: center;
  width: 12grem;
  margin: 0;
  z-index: 1;
}
main .text img {
  width: 90%;
  aspect-ratio: 1/1;
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 25rem;
  position: absolute;
  border-radius: 48px;
}
main .text-withoutimg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
main .text-withoutimg p {
  font-family: "mervale", cursive;
  font-size: 2rem;
  text-align: center;
  width: 20rem;
  z-index: 1;
}
main .group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
main .group p {
  font-family: "mervale", cursive;
  font-size: 2rem;
  margin: 0;
}
main .group .image {
  width: 90%;
  position: relative;
}
main .group .image img {
  width: 100%;
  max-height: 40rem;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}
main .group .image .overlay {
  display: none;
}
main .group .image:hover .overlay {
  display: flex;
}
@media only screen and (max-width: 769px) {
  main .group .image .overlay {
    display: flex;
  }
}
main .group .image .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
main .group .image .overlay .buttons {
  display: flex;
  flex: 1;
  padding: 0 1rem;
}
main .group .image .overlay .buttons .next,
main .group .image .overlay .buttons .prev {
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5607843137);
  transition: 0.3s;
}
main .group .image .overlay .buttons .next:hover,
main .group .image .overlay .buttons .prev:hover {
  background-color: rgba(0, 0, 0, 0.7490196078);
}
main .group .image .overlay .buttons .next svg,
main .group .image .overlay .buttons .prev svg {
  color: white;
}
main .group .image .overlay .buttons .next {
  margin-left: auto;
}
main #events p {
  font-family: "mervale", cursive;
  font-size: 2rem;
  gap: 2rem;
  display: flex;
  align-items: center;
  text-align: center;
}
main #events p img {
  height: 5rem;
}
main #maps a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
main #maps a p {
  font-family: "mervale", cursive;
  font-size: 2rem;
  color: black;
}
main #maps a img {
  width: 90%;
  max-height: 40rem;
  -o-object-fit: contain;
     object-fit: contain;
}
main #contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main #contacts .t {
  font-family: "mervale", cursive;
  font-size: 2rem;
}
main #contacts #split {
  display: flex;
  gap: 2rem;
}
main #contacts #split div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
main #contacts #split div .name {
  font-family: "mervale", cursive;
  font-size: 2rem;
  margin: 0;
}
main #contacts #split div .number {
  font-family: "Jost", sans-serif;
  margin: 0;
}